/* html5doctor.com Reset v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

/* App Styles */
html {
  box-sizing: border-box;
}

html, body {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 300;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.body_dark {
  background: #333;
  color: #fff;  
}

h1 {
  font-size: 32px;
  font-weight: 300;
  line-height: 120%;
}

h3 {
  font-size: 18px;
  font-weight: 300;
  margin: 25px 0;
}

a {
  transition: all .25s ease-in;
  text-decoration: none;
  color: #03a9f4;
}

a:hover {
  color: #03a9f4;
} 

ul {
  list-style: none;
}

li {
  padding: 10px 0;
}

section {
  margin-bottom: 50px;
}

/* Classes */

.nav_top {
  background: rgba(0,0,0,0.8);
  height: 50px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;  
  width: 100%;
  z-index: 9999;  
}

.nav_offset {
  padding-top: 100px;
}

.highlight {
  color: #03a9f4;
  margin: 0 10px;
}

.content_lnk {
  color: white;
}

.content_lnk:visited {
  color: #fff;
}

.circle {
  border-radius: 50%;
  box-shadow: 1px 1px 100px #00bcd4;

  border: 5px solid #03a9f4;
  height: 600px;
  margin: 0 auto;
  margin-top: 100px;
  width: 600px;

  -webkit-animation: pulse 2s linear 0s infinite alternate;
  -moz-animation: pulse 2s linear 0s infinite alternate;
  -o-animation: pulse 2s linear 0s infinite alternate;
  animation: pulse 2s linear 0s infinite alternate;
}

.circle.nav {
  border: 2px solid #03a9f4;
  height: 25px;
  left: 40px;
  margin-top: 0;
  position: fixed;
  top: 10px;
  width: 25px;
}

.content {
  left: 0;
  position: absolute;
  top: 275px;
  width: 100%;
}

.content_list li {
  padding: 10px 0;
}

.content_social {
  margin-top: 50px;
}

.content_social.nav {
  position: fixed;
  bottom: 10px;
  right: 40px;
  margin-top: 0;
}

.inner-wrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.outer-wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.title {
  transition: all .25s ease-in;
  font-size: 118px;
  letter-spacing: 10px;

  -webkit-animation: blur-pulse 2s linear 0s infinite alternate;
  -moz-animation: blur-pulse 2s linear 0s infinite alternate;
  -o-animation: blur-pulse 2s linear 0s infinite alternate;
  animation: blur-pulse 2s linear 0s infinite alternate;
}

.wrapper {
  cursor: default;
  letter-spacing: 5px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  width: 600px;  
}

.left {
  float: left;
  margin-right: 20px;
  text-align: left;
  width: 35%;
}

.left p {
  color: #999;
  letter-spacing: 1px;
  text-transform: none;
}

.right {
  float: right;
  width: 60%;
}

@-webkit-keyframes pulse { from { -webkit-transform: scale(1);  } to { -webkit-transform: scale(.97); -webkit-box-shadow: 1px 1px 20px #00bcd4; }  }
@-moz-keyframes pulse { from { -moz-transform: scale(1);     } to { -moz-transform: scale(.97); -moz-box-shadow: 1px 1px 20px #00bcd4; }     }
@-o-keyframes pulse { from { -o-transform: scale(1);       } to { -o-transform: scale(.97); -o-box-shadow: 1px 1px 20px #00bcd4; }       }
@keyframes pulse { from { transform: scale(1);          } to { transform: scale(.97); box-shadow: 1px 1px 20px #00bcd4; }            }

@-webkit-keyframes blur-pulse { from { -webkit-filter: blur(0);  } to { -webkit-filter: blur(2px); }  }
@-moz-keyframes blur-pulse { from { -moz-filter: blur(0);     } to { -moz-filter: blur(2px);  }     }
@-o-keyframes blur-pulse { from { -o-filter: blur(0);       } to { -o-filter: blur(2px);  }       }
@keyframes blur-pulse { from { filter: blur(0);          } to { filter: blur(2px);  }            }

/* IPhone Portrait */
@media screen and (max-width : 320px) {
  h3 {
    font-size: 12px;
    letter-spacing: 2px;
    margin: 10px 0;
    margin-top: 85px;
  }

  .center-circle {
    height: 200px;
    margin-top: 135px;
    width: 200px;
  }

  .content {
    font-size: 12px;
    letter-spacing: 2px;
    top: 215px;
  }

  .title {
    font-size: 36px;
  }

  .wrapper {
    width: 100%;
  }
}

/* Mobile Landscape */
@media screen and (max-width : 640px) {
  h3 {
    font-size: 12px;
    letter-spacing: 2px;
    margin: 10px 0;
    margin-top: 85px;
  }

  .center-circle {
    height: 200px;
    margin-top: 35px;
    width: 200px;
  }

  .content {
    font-size: 12px;
    letter-spacing: 2px;
    top: 120px;
  }

  .title {
    font-size: 36px;
  }

  .wrapper {
    width: 100%;
  }

  .left, .right {
    float: none;
    width: 100%
  }
}